<div class="card my-3">
    <div class="card-header">
        {{customer?.name}}
    </div>
    <div class="card-body row ">
        <div class="col-2 border-end">
            <h5 class="text-center text-decoration-underline"> Customer Details</h5>

            <div class="my-3"><span class="me-2"><i class="fa-solid fa-phone"></i></span>{{customer?.phone}}</div>

            <div><span class="me-2"><i class="fa-regular fa-envelope"></i></span>{{customer?.email}}</div>


        </div>
        <div class="col-2 border-end">
            <h5 class="text-center text-decoration-underline"> Odometer</h5>

            <div class="my-3"><span class="me-2"><i class="fa-solid fa-gauge"></i></span>{{customer?.running_km}}km
            </div>



        </div>
        <div class="col-2 border-end">
            <h5 class="text-center text-decoration-underline"> Date</h5>

            <div class="my-3"><span class="me-2"><i
                        class="fa-solid fa-calendar-days"></i></span>{{customer?.created_date|date}}</div>


        </div>
        <div class="col-2 border-end">
            <h5 class="text-center text-decoration-underline"> VehicleNumber</h5>

            <div class="my-3"><span class="me-2"><i class="fa-solid fa-car"></i></span>{{customer?.vehicle_no}}</div>

        </div>
        <div class="col-2 border-end">
            <h5 class="text-center text-decoration-underline"> Total</h5>

            <div class="my-3"><span class="me-2"><i class="fa-solid fa-indian-rupee-sign"></i></span> 12345678</div>
        </div>
        <div class="col-2 ">
            <h5 class="text-center text-decoration-underline"> Status</h5>


            <div class="my-3">
                Pending
            </div>


        </div>
    </div>
</div>