<div class="my-3 text-end">
    <button class="btn btn-success fw-bold" routerLink="/customer/add"><i class="fa-solid fa-plus"></i> Add
        Customer</button>
</div>

<div class="card my-3" *ngFor="let cust of customers">
    <div class="card-header">
        {{cust.name}}
    </div>
    <div class="card-body row ">
        <div class="col-2 border-end">
            <h5 class="text-center text-decoration-underline"> Customer Details</h5>

            <div class="my-3"><span class="me-2"><i class="fa-solid fa-phone"></i></span>{{cust.phone}}</div>

            <div><span class="me-2"><i class="fa-regular fa-envelope"></i></span>{{cust.email}}</div>


        </div>
        <div class="col-2 border-end">
            <h5 class="text-center text-decoration-underline"> Odometer</h5>

            <div class="my-3 text-center"><span class="me-2"><i
                        class="fa-solid fa-gauge"></i></span>{{cust.running_km}}km</div>



        </div>
        <div class="col-2 border-end">
            <h5 class="text-center text-decoration-underline"> Date</h5>

            <div class="my-3 text-center"><span class="me-2"><i
                        class="fa-solid fa-calendar-days"></i></span>{{cust.created_date|date}}</div>


        </div>
        <div class="col-2 border-end">
            <h5 class="text-center text-decoration-underline"> VehicleNumber</h5>

            <div class="my-3 text-center"><span class="me-2"><i class="fa-solid fa-car"></i></span>{{cust.vehicle_no}}
            </div>

        </div>
        <div class="col-2 border-end">
            <h5 class="text-center text-decoration-underline"> Total</h5>

            <div class="my-3 text-center"><span class="me-2"><i class="fa-solid fa-indian-rupee-sign"></i></span>
                {{cust.work_total}}</div>
        </div>
        <div class="col-2 ">
            <h5 class="text-center text-decoration-underline"> Aciton</h5>


            <div class="my-3">
                <a href="" [routerLink]="['/customer',cust.id]" class="btn btn-sm btn-outline-primary me-3">View</a>
                <a href="" routerLink="/customer/add" [queryParams]="{custId:cust.id}"
                    class="btn btn-sm btn-outline-warning me-3">Edit</a>
                <button (click)="handleDelete(cust.id)" class="btn btn-sm btn-outline-danger">Delete</button>
                <button (click)="generatePdf(cust.id)" class="btn btn-sm btn-outline-dark">Invoice</button>
            </div>


        </div>
    </div>
</div>